[Rr]eadme.md
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/14df11ed-0a56-4dca-8b3a-c5621a36d70d.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/5f3ade9a-316e-4f81-92c7-40c7164ecf89.vsidx
ConsoleApp1/.vs/ConsoleApp1/v17/.suo
ConsoleApp1/.vs/ConsoleApp1/v17/DocumentLayout.backup.json
ConsoleApp1/.vs/ConsoleApp1/v17/DocumentLayout.json
ConsoleApp1/ConsoleApp1/obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
ConsoleApp1/ConsoleApp1/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ConsoleApp1/ConsoleApp1/obj/Debug/DesignPattern.csproj.AssemblyReference.cache
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/d05b04f9-dcd1-4479-b209-227ec76aa1b7.vsidx
